<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>오늘할일</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="leftmain">
    <p>닉네임</p>
    <button id="movetoWeekly"><a href="/weeklybox/view">이주의박스</a></button>
    <p>통계</p>
    <p>설정</p>
    <p><button onclick="resetData()">reset</button></p>
</div>
<div class="container">
    <div class="setting_div">
        <div>
            <span id="title">오늘할일</span>
        </div>
        <div class="date_">
            <button id="minusDate"><a th:href="@{/task/minusDate}"><</a></button>
            <span class="date" th:text="${month}"></span>
            <span class="date">월 </span> &nbsp;&nbsp;
            <span class="date" th:text="${date}"></span>
            <span class="date">일</span>
            <button id="plusDate"><a th:href="@{/task/plusDate}"> > </a></button>
        </div>
    </div>
    <div class="addTask">
        <form action="/task/add" method="post" onsubmit="addData()">
            <div class="todoadd">
                <p>
                    <label for="preference_point">선호도</label>
                    <input type="number" min=0 max=5 name="preference_point" id="preference_point" value="0">
                    <label for="importance_point">우선도</label>
                    <input type="number" min=0 max=5 name="importance_point" id="importance_point" value="0">
                </p>
                <p>
                    <label for="task">할일</label>
                    <input type="text" name="task" id="task" placeholder="해야할 일을 적어주세요">
                </p>
                <p>
                    <button type="submit" id="submit">추가하기</button>
                </p>
            </div>
        </form>
    </div>
    <div class="main">
        <div class="graph">
            <div id="graph_child">
            </div>
        </div>
        <div class="todolist">

            <div>
                <!--
                                    <div >
                                        <select th:field="*{sortingway}">
                                            <option th:each="sortingway : ${sortingWays}" th:value="${sortingway.way}" th:text="${sortingway.displayName}">이름</option>
                                        </select>
                                    </div>
                                    <div>
                    <select name="" id="sorting">
                        <option value="sortbyId">기본</option>
                        <option value="sortbyImp">우선도</option>
                        <option value="sortbyPre">선호도</option>
                    </select>
                </div>
                -->
                <th:block th:each="task : ${tasks}">
                    <div class="tasks">
                        <input type="hidden" id="doneInput" th:value="${task.done}">
                        <input type="hidden" id="weeklyInput" th:value="${task.isWeeklybox}">
                        <p>
                            <span>선호도 </span>
                            <span th:text="${task.preferencePoint}"></span>
                            <input type="hidden" id="pfp" th:value="${task.preferencePoint}">
                            <span>우선도</span>
                            <span th:text="${task.importancePoint}"></span>
                            <input type="hidden" id="ipp" th:value="${task.importancePoint}">
                        </p>
                        <p th:text="${task.task}" id="tasktext"></p>
                        <p>
                            <button id="post_btn"><a th:href="@{/task/postpone/(id=${task.id})}">미루기</a></button>
                            <button id="comeback" style="display: none"><a th:href="@{/weeklybox/comeback/(id=${task.id})}"></a></button>
                            <button id="del_btn" onclick="deleteData()" ><a th:href="@{/task/delete/(id=${task.id})}">삭제</a></button>
                            <button id="done_btn"><a th:href="@{/task/done/(id=${task.id})}">완료</a></button>
                        </p>
                    </div>
                </th:block>
            </div>
            <div>
                <!--                <table>-->
                <!--                    <thead>-->
                <!--                    <tr>-->
                <!--                        <th id="th_done">완료</th>-->
                <!--                        <th id="th_text">할일</th>-->
                <!--                        <th id="th_prept">선호도</th>-->
                <!--                        <th id="th_imppt">우선도</th>-->
                <!--&lt;!&ndash;                        <th id="th_delete">삭제</th>&ndash;&gt;-->
                <!--&lt;!&ndash;                        <th id="th_postpone">미루기</th>&ndash;&gt;-->
                <!--                    </tr>-->
                <!--                    </thead>-->
                <!--                    <tbody>-->
                <!--                    <tr th:each="task : ${tasks}">-->
                <!--                        <td><input type="checkbox" onclick="todoDone(this)" th:field="${task.isDone}"></td>-->
                <!--                        <td id="todotext" th:text="${task.task}"></td>-->
                <!--                        <td id="todopre" th:text="${task.preference_point}"></td>-->
                <!--                        <td id="todoimp" th:text="${task.importance_point}"></td>-->
                <!--&lt;!&ndash;                        <td id="tododel"><button id="del_btn"><a th:href="@{/task/delete/(id=${task.id})}">삭제</a></button></td>&ndash;&gt;-->
                <!--&lt;!&ndash;                        <td id="todopostpone"> <button id="post_btn"><a th:href="@{/task/postpone/(id=${task.id})}"></a>미루기</button></td>&ndash;&gt;-->
                <!--                    </tr>-->
                <!--                    </tbody>-->
                <!--                </table>-->
            </div>

        </div>
    </div>
</div>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>




    //날짜
    // let day = new Date();
    // let month = parseInt(day.getMonth()+1);
    // let date = parseInt(day.getDate());
    // document.getElementById('month').innerHTML = month+"월  ";
    // document.getElementById('date').innerHTML = " "+date+"일";
    //
    // let month_group=[31,28,31,30,31,30,31,31,30,31,30,31];
    //
    // function minusdate(){
    //     if(date-1===0){
    //         month=month-1;
    //         date=month_group[month-2];
    //
    //     } else{
    //         date=date-1;
    //     }
    //     document.getElementById('month').innerHTML = month+"월  ";
    //     document.getElementById('date').innerHTML = " "+date+"일";
    // }
    // function plusdate(){
    //     if(date+1===month_group[month-1]){
    //         month=month+1;
    //         date=1;
    //
    //     } else{
    //         date=date+1;
    //     }
    //     document.getElementById('month').innerHTML = month+"월  ";
    //     document.getElementById('date').innerHTML = " "+date+"일";
    // }

    //완료,weeklybox
    document.querySelectorAll(".tasks").forEach(function (item){
        var done = document.getElementById("doneInput").value;
        var isWeekly = document.getElementById("weeklyInput").value;
        var button = item.querySelector("#done_btn");

        if(done==="true"){
            item.style.backgroundColor="#D9D9D9";
            item.style.textDecoration="line-through"
            button.style.display="none"
        }
        if(isWeekly==="true"){
            var postBtn = item.querySelector("#post_btn");
            var comeback = item.querySelector("#comeback");
            postBtn.style.display="none";
            comeback.style.display="block";
        }
    });


    //그래프
    var graph_=document.getElementById('graph_child');

    var storedXArray = localStorage.getItem('xArray');
    var storedYArray = localStorage.getItem('yArray');

    xArray = storedXArray ? JSON.parse(storedXArray) : [];
    yArray = storedYArray ? JSON.parse(storedYArray) : [];
    var data_graph = [{
        x: xArray,
        y: yArray,
        mode: "markers",
        marker:{
            size:12,
            color:"#50AF76"
        },
        type: "scatter"
    }];

    var layout={
        xaxis: {
            range: [0,5]
        },
        yaxis: {
            range: [0,5]
        }
    };

    Plotly.newPlot(graph_,data_graph,layout);


    function addData(){
        var inputX = document.getElementById('preference_point').value;
        var inputY = document.getElementById('importance_point').value;

        xArray.push(inputX);
        yArray.push(inputY);

        localStorage.setItem('xArray', JSON.stringify(xArray));
        localStorage.setItem('yArray', JSON.stringify(yArray));

        Plotly.newPlot(graph_,data_graph,layout);
    }


    function deleteData(){
        var thisX = document.getElementById('pfp').value;
        var thisY = document.getElementById('ipp').value;

        for(var i=0;i<xArray.length;i++){
            if(xArray[i]===thisX && yArray[i]===thisY){
                xArray.splice(i,1);
                yArray.splice(i,1);
                break;
            }
        }

        localStorage.setItem('xArray', JSON.stringify(xArray));
        localStorage.setItem('yArray', JSON.stringify(yArray));

        Plotly.newPlot(graph_,data_graph,layout);
    }

    function resetData(){
        localStorage.clear();

        document.querySelectorAll(".tasks").forEach(function (item){
            var thisX = document.getElementById('pfp').value;
            var thisY = document.getElementById('ipp').value;

            xArray.push(thisX);
            yArray.push(thisY);

            localStorage.setItem('xArray', JSON.stringify(xArray));
            localStorage.setItem('yArray', JSON.stringify(yArray));

            Plotly.newPlot(graph_,data_graph,layout);
        });
    }
</script>
</body>
</html>