.container{
    height: 900px;
}

.todolist{
    width: 500px;
    height: 460px;
    margin: 30px;
    padding: 10px;
    border: solid #50AF76 3px;
    border-radius: 10px;
    overflow: auto;
}

.tasks{
    margin:10px;
    padding: 10px;
    background-color: #50AF76;
    color: white;
    border-radius: 10px;
    height: 150px;
}

.graph{
    width: 460px;
    border: solid #50AF76 3px;
    border-radius: 10px;
    padding:5px;
    margin:30px;
    float:left;
}

.addTask{
    width: 1020px;
    padding: 20px;
    margin: 30px;
    float: right;
    border: solid #50AF76 3px;
    border-radius: 10px;
}

#graph_child{
    width: 450px;
    height: 450px;
    background-color: #ACDF87;
    display: flex;
    justify-content: center;
}

#sortBox{
    margin-right: 5px;
}

.todo_group{
    border: 4px #50AF76 solid;
    border-radius: 10px;
    padding: 10px;
}

#text{
    width: 400px;
}


#warning{
    width: 100px;
    height: 100px;
    margin-top:40%;
}

.todolist{
    float:right;
}

#title {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

#tasktext{
    font-size: 20px;
}

.date_{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

.setting{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-color:#ACDF87;
    background-color: #ACDF87;
    float:right;
}

#submit, #movetoTask, #weekly_del, #move_btn{
    margin: 5px;
    width: 120px;
    height: 28px;
    font-size: 12px;
    background-color: #50AF76;
    color: white;
    float: right;
    border:none;
    text-decoration-line: none;
}

#del_btn, #done_btn, #post_btn{
    margin: 5px;
    width: 120px;
    height: 28px;
    font-size: 12px;
    background-color: white;
    color: #50AF76;
    float: right;
    border:none;
    text-decoration-line: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,td{
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #50AF76;
}

#th_done, #th_id, #th_delete, #th_imppt, #th_prept{
    width: 50px;
}

#month, #date{
    font-size: 20px;
    font-weight: bold;
}

#sorting{
    float:right;
}

.leftmain{
    padding: 10px;
    float: left;
    width: 300px;
    height: 820px;
    border: solid #50AF76 3px;
    border-radius: 10px;
}

#movetoWeekly{
    width: 200px;
    height: 150px;
    background-color: #50AF76;
    color:white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    text-decoration-line: none;
}

#movetoWeekly:visited{
    color: white;
}

#post_btn:visited, #done_btn:visited, #del_btn:visited{
    color: #50AF76;
}

.weeklybox, .weeklylist{
    margin-left: 200px;
    margin-top: 50px;
    width: 45%;
    height: 100%;
    border: solid #50AF76 3px;

}