<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <span id="title2">오늘할일</span>
</div>
<div>
    <p id="statisticsTitle">통계</p>
    <button id="movetoTask"><a href="/task/group">돌아가기</a></button>
</div>
<div id="statistics">
    <div id="static_left">
        <p>이번주 달성률</p>
        <p>이번달 달성률</p>
        <p>이번달 미루기</p>
    </div>
    <div id="static_right">
        <p><span></span><span>%</span></p>
        <p><span></span><span>%</span></p>
        <p><span>30</span><span>회</span></p>
    </div>

</div>
</body>
</html>