<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <span id="title2">오늘할일</span>
</div>
<div>
    <p id="weeklyTitle">이주의박스</p>
    <button id="movetoTask"><a href="/task/group">돌아가기</a></button>
</div>
<div class="weeklybox">
    <form action="/weeklybox/add" method="post">
        <div>
            <p>
                <label for="task">이번 주 해야 할 일</label><br>
                <input type="text" name="task" id="task" placeholder="해야할 일을 적어주세요">
            </p>
        </div>
        <button type="submit" id="add_task">추가하기</button>
    </form>
</div>

<div class="weeklyDiv">
    <th:block th:each="weeklybox : ${weeklyboxs}">
        <div class="weeklytask">
            <p th:text="${weeklybox.task}"></p>
            <button id="weekly_del"><a th:href="@{/weeklybox/delete/(id=${weeklybox.id})}">삭제</a></button>
            <button id="move_btn"><a th:href="@{/weeklybox/move/(id=${weeklybox.id})}">이동</a></button>
        </div>
    </th:block>
</div>

</body>
</html>