<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <form action="" method="post">
        <div>
            <table>
                <tr>
                    <td><lable for="importance_point">중요도</lable></td>
                    <input type="number">
                </tr>
                <tr>
                    <td><lable for="preference_point">선호도</lable></td>
                    <input type="number">
                </tr>
                <tr>
                    <td><lable for="task">할일</lable></td>
                    <td><input type="text"></td>
                </tr>
            </table>
        </div>
        <button type="submit">추가하기</button>
    </form>
</div>
</body>
</html>